**/.git
**/.vs
**/bin
**/obj
**/out
obj
bin
*.user
*.suo
**/project.assets.json
**/packages
**/*.user
**/*.suo
**/node_modules
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.md
**/.editorconfig
**/.gitignore
**/appsettings.Development.json
**/appsettings.*.local.json
